body {background-color: aquamarine;}
h1 {color: orange;}
p1 {color: yellow;}
h2 {color: red;}
#para-2 {color: brown;}
#item-1 {color: green;}
#item-2 {color: violet;}
#item-3 {color: blue;}
#item-4 {color: navy;}